---
import Display from "../text/Display.astro";
import Heading from "../text/Heading.astro";
import Paragraph from "../text/Paragraph.astro";
---

<section>
  <div class="px-8 md:px-12 pt-12 lg:pt-48 2xl:max-w-7xl mx-auto">
    <Display text="Cala" />
    <span class="h-20"></span>
    <Heading text="Spalatorie Industriala" />
    <span class="h-20"></span>
    <Paragraph
      text="Profesionalismul întâlnește tehnologia de ultimă oră în lumea spălătoriilor industriale. La Cala, fiecare fibră contează. Ne dedicăm asigurându-ne că fiecare uniformă, fiecare prosop și fiecare piesă de lenjerie revine la tine nu doar curată, ci revitalizată. Echipamente moderne, soluții ecologice și o echipă care pune calitatea pe primul loc – asta e promisiunea noastră pentru tine."
    />
  </div>
</section>
