<section>
  <div class="px-8 md:px-12 py-12 2xl:max-w-7xl mx-auto">
    <div class="grid grid-cols-1 lg:grid-cols-2 gap-8 items-start">
      <h1 class="text-gray-900 text-2xl lg:text-6xl font-display max-w-6xl">
        Despre Cala
      </h1>
      <div class="space-y-6 text-gray-600 text-xl max-w-xl lg:ml-auto">
        <p>
          Introducing Riflesso - your new partners in design crime, except
          without the masks and capes. We're the cool cats behind digital design
          and brand wizardry, spreading our magic across the world.
        </p>
        <p>
          Why Riflesso, you ask? Well, we couldn't resist the call of the design
          universe. We're not your average office crowd – more like a bunch of
          design rebels on the loose. We've got this awesome network of talented
          folks and studios we team up with whenever we need to rock the design
          stage.
        </p>
        <p>
          Think of us as the ultimate design dream team, minus the spandex. From
          crafting brand vibes to sprinkling digital fairy dust, we're the
          jack-of-all-trades. We handle everything from nifty industrial designs
          to vintage print charm to apps that are so slick, they might just
          steal your heart.
        </p>
        <p>
          But here's the kicker – we're not about quick fixes. We're all about
          creating designs that stand the test of time, not just one-hit
          wonders. So if you're ready to dive into a world of design
          awesomeness, give us a shout!
        </p>
      </div>
    </div>
  </div>
</section>
