---
import BaseLayout from "@/layouts/BaseLayout.astro";
import Hero from "@/components/landing/Hero.astro";
import Heading from "@/components/text/Heading.astro";
import Paragraph from "@/components/text/Paragraph.astro";
---

<BaseLayout>
  <Hero />
  <div class="px-8 md:px-12 py-12 lg:pt-48 2xl:max-w-7xl mx-auto">
    <Heading text="Despre noi" />
    <Paragraph text="Text" />
    <h1>Hello</h1>
  </div>
  <div class="px-8 md:px-12 py-12 lg:pt-48 2xl:max-w-7xl mx-auto">
    <Heading text="Contact" />
    <p class="my-2">
      <span
        class="text-gray-600 text-xl lg:text-2xl font-display underline hover:text-gray-900"
        >lnetoiu@yahoo.com</span
      >
    </p>
    <p class="my-2">
      <span
        class="text-gray-600 text-xl lg:text-2xl font-display underline hover:text-gray-900"
        >0727300425</span
      >
    </p>
  </div>
</BaseLayout>
