---
import BaseLayout from "@/layouts/BaseLayout.astro";
import Hero from "@/components/landing/Hero.astro";
import Heading from "@/components/text/Heading.astro";
import Paragraph from "@/components/text/Paragraph.astro";
---

<BaseLayout>
  <Hero />
  <div class="px-8 md:px-12 py-12 lg:pt-48 2xl:max-w-7xl mx-auto">
    <Heading text="Despre noi" />
    <Paragraph
      text="Cala este o spalatorie industriala de top bla Lorem ipsum dolor sit amet, officia excepteur ex fugiat reprehenderit enim labore culpa sint ad nisi Lorem pariatur mollit ex esse exercitation amet. Nisi anim cupidatat excepteur officia. Reprehenderit nostrud nostrud ipsum Lorem est aliquip amet voluptate voluptate dolor minim nulla est proident. Nostrud officia pariatur ut officia. Sit irure elit esse ea nulla sunt ex occaecat reprehenderit commodo officia dolor Lorem duis laboris cupidatat officia voluptate. Culpa proident adipisicing id nulla nisi laboris ex in Lorem sunt duis officia eiusmod. Aliqua reprehenderit commodo ex non excepteur duis sunt velit enim. Voluptate laboris sint cupidatat ullamco ut ea consectetur et est culpa et culpa duis."
    />
    <h1>Hello</h1>
  </div>
  <div class="px-8 md:px-12 py-12 lg:pt-48 2xl:max-w-7xl mx-auto">
    <Heading text="Contact" />
    <p class="my-2">
      <span
        class="text-gray-600 text-xl lg:text-2xl font-display underline hover:text-gray-900"
        >lnetoiu@yahoo.com</span
      >
    </p>
    <p class="my-2">
      <span
        class="text-gray-600 text-xl lg:text-2xl font-display underline hover:text-gray-900"
        >0727300425</span
      >
    </p>
  </div>
</BaseLayout>
