---
import BaseLayout from "@/layouts/BaseLayout.astro";
import Hero from "@/components/landing/Hero.astro";
import Heading from "@/components/text/Heading.astro";
import Paragraph from "@/components/text/Paragraph.astro";
---

<BaseLayout>
  <Hero />
  <div class="px-8 md:px-12 py-12 lg:pt-48 2xl:max-w-7xl mx-auto">
    <Heading text="Despre noi" />
    <Paragraph text="Cala e locul unde hainele și textilele industriale primesc un nou suflu de viață. Gândiți-vă la noi ca la acei prieteni de încredere care sunt mereu acolo să te scoată din încurcături. Ne place să credem că nu doar spălăm și curățăm, ci redăm strălucirea acelor uniforme de muncă și textile industriale. Nu, nu facem magie, doar folosim tehnologie de top și o doză bună de atenție și grijă. La Cala, fiecare articol e tratat ca un VIP – cu delicatețe, respect și un pic de TLC (Tender Loving Care). Și cel mai important, ne place să păstrăm lucrurile simple și eficiente, fără bătăi de cap. Deci, dacă ești în căutarea unui loc unde murdăria e tratată cu seriozitate, dar atmosfera e relaxată, ai ajuns unde trebuie. Hai să ne ocupăm împreună de acele provocări de zi cu zi în spălarea industrială." />
  </div>
  <div class="px-8 md:px-12 py-12 lg:pt-48 2xl:max-w-7xl mx-auto">
    <Heading text="Contact" />
    <Paragraph text="Pentru orice intrebare sau mai multe detalii, contacti-ne la:" />
    <p class="my-2">
      <span
        class="text-gray-600 text-xl lg:text-2xl font-display underline hover:text-gray-900"
        >lnetoiu@yahoo.com</span
      >
    </p>
    <p class="my-2">
      <span
        class="text-gray-600 text-xl lg:text-2xl font-display underline hover:text-gray-900"
        >0727300425</span>
    </p>
  </div>
</BaseLayout>
