<section>
  <div class="px-8 md:px-12 pt-12 lg:pt-48 2xl:max-w-7xl mx-auto">
    <h1 class="text-gray-900 text-4xl lg:text-6xl font-display max-w-6xl">
      Pentru mai multe detalii sau orice intrebare, ne puteti contacta la
      urmatoarea adresa de email
    </h1>
    <p class="my-8">
      <span
        class="text-gray-600 text-4xl lg:text-8xl font-display underline hover:text-gray-900"
        >lnetoiu@yahoo.com</span
      >
    </p>
    <h1 class="text-gray-900 text-4xl lg:text-6xl font-display max-w-6xl">
      sau la numarul de telefon
    </h1>
    <p class="my-8">
      <span
        class="text-gray-600 text-4xl lg:text-8xl font-display underline hover:text-gray-900"
        >0727300425</span
      >
    </p>
  </div>
</section>
