<footer class="flex flex-col items-center border-t border-gray-300">
  <img
    class="aspect-[4/4] h-28 w-28"
    src="../../../public/cala.png"
    alt="Cala"
  />
  <div
    class="flex w-full px-8 bg-base items-center justify-evenly flex-row md:px-12 py-4 2xl:max-w-7xl"
  >
    <a
      class="text-xs uppercase lg:text-lg text-gray-900 hover:text-gray-600"
      href="/system/overview"
    >
      Overview
    </a>
    <a
      class="text-xs uppercase lg:text-lg text-gray-900 hover:text-gray-600"
      href="/system/style-guide"
    >
      Style Guide
    </a>
    <a
      class="text-xs uppercase lg:text-lg text-gray-900 hover:text-gray-600"
      href="/forms/contact"
    >
      Contact
    </a>
  </div>
</footer>
