---
---

<section class="border-b border-gray-300">
  <div
    class="relative flex w-full px-8 bg-base items-center justify-between flex-row md:px-12 py-4 2xl:max-w-7xl mx-auto"
  >
    <a class="text-black text-3xl font-medium font-display" href="/">
      <img
        class="aspect-[4/4] h-12 w-12 lg:h-24 lg:w-24"
        src="../../../public/cala.png"
        alt="Cala"
      />
    </a>

    <nav
      class="items-center flex-grow hidden justify-end flex-row ml-auto gap-3 lg:flex lg:gap-12"
    >
      <a
        class="text-xs uppercase lg:text-lg text-gray-900 hover:text-gray-600 lg:ml-auto"
        href="/system/overview"
      >
        Servicii
      </a>
      <a
        class="text-xs uppercase lg:text-lg text-gray-900 hover:text-gray-600"
        href="/system/style-guide"
      >
        Despre Noi
      </a>
      <a
        class="text-xs uppercase lg:text-lg text-gray-900 hover:text-gray-600"
        href="/forms/contact"
      >
        Contact
      </a>
    </nav>

    <svg
      xmlns="http://www.w3.org/2000/svg"
      fill="none"
      viewBox="0 0 24 24"
      stroke-width="1.5"
      stroke="currentColor"
      class="w-6 h-6 stroke-gray-900 hover:stroke-gray-600 lg:hidden"
    >
      <path
        stroke-linecap="round"
        stroke-linejoin="round"
        d="M3.75 9h16.5m-16.5 6.75h16.5"></path>
    </svg>
  </div>
</section>
